#ficha {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	div.colId {
		width: 20%;
		div.indicador {
			border-radius: 2px;
			font-size: 12px;
			color: #FFFFFF;
			line-height: 32px;
			text-align: center;
			text-transform: uppercase;
			background-color: $implantacao;
		}
		div.id {
			border-radius: 2px;
			border: 1px solid #BDBDBD;
			padding: 8px;
			margin-top: 20px;
			ul {
				list-style-type: none;
				padding: 0; margin: 0;
				li { margin-bottom: 16px; };
				li:last-child { margin-bottom: 0px; };
			}
		}
	}

	div.aspectos {
		width: 40%;
		margin-left: 20px;
	}

	div.tramitacao {
		width: 40%;
		margin-left: 20px;
		ol {
			list-style-type: decimal-leading-zero;
			list-style-position: inside;
			margin-top: 30px; padding: 0;
			li {
				display: list-item;
				line-height: 32px;
				border-top-width: 3px;
				border-top-style: solid;
				span { font-weight: 700; text-transform: uppercase; };
				i { float: right; line-height: 32px; }
			}
			li:nth-child(1), li:nth-child(2), li:nth-child(3) { border-top-color: $proposicao; };
			li:nth-child(4) { border-top-color: $avaliacao; };
			li:nth-child(5), li:nth-child(6), li:nth-child(7), li:nth-child(8) { border-top-color: $elaboracao; };
			li:nth-child(9), li:nth-child(10), li:nth-child(11) { border-top-color: $tramitacao; };
			li:nth-child(12) { border-top-color: $implantacao; };
			li.anterior { color: rgba(0,0,0,0.24); }
		};
	}

}