#sumario {
	width: 100%;

	div {
		div {
			display: flex;
			justify-content: flex-start;
			div.bg {
				width: 20px;
				border-radius: 3px;
				margin-right: 10px;
				border: 1px solid #FFF;
			}
			div {
				display: inline-block;
				vertical-align: top;
				width: calc((100% - 10px)/3);
				background-color: transparent;
			};
		};

		div.etapa {
			margin-top: 24px; color: #FFF; border-radius: 2px;
			div { padding: 8px 0; };
			div:first-child { padding-left: 8px; text-transform: uppercase; };
			div:nth-child(2) { margin-left: -8px; };
		}

		div.subetapa {
			border-bottom: 1px solid #E0E0E0; line-height: 40px;
			div.titulo { font-size: 12px; span { text-transform: uppercase; }; };
			div div { display: block; width: 100%; a { color: #000; font-weight: 700; text-decoration: none; }; a:hover { transition: 150ms; }; };
		}
	};

	#proposicao {
		div.subetapa { 
			div.titulo span { color: $proposicao; };
			div div a:hover { color: $proposicao; }
		}
		div.etapa { background-color: $proposicao; };
		div div.bg { background-color: $proposicao; };
	}

	#avaliacao {
		div.subetapa { 
			div.titulo span { color: $avaliacao; };
			div div a:hover { color: $avaliacao; }
		}
		div.etapa { background-color: $avaliacao; };
		div div.bg { background-color: $avaliacao; };
	}

	#elaboracao {
		div.subetapa { 
			div.titulo span { color: $elaboracao; };
			div div a:hover { color: $elaboracao; }
		}
		div.etapa { background-color: $elaboracao; };
		div div.bg { background-color: $elaboracao; };
	}

	#tramitacao {
		div.subetapa { 
			div.titulo span { color: $tramitacao; };
			div div a:hover { color: $tramitacao; }
		}
		div.etapa { background-color: $tramitacao; };
		div div.bg { background-color: $tramitacao; };
	}

	#implantacao {
		div.subetapa { 
			div.titulo span { color: $implantacao; };
			div div a:hover { color: $implantacao; }
		}
		div.etapa { background-color: $implantacao; };
		div div.bg { background-color: $implantacao; };
	}

}