/*#sumario {
	display: table;
	min-width: 100%;
	font-size: 16px;

	div {
		display: table-row;

		div {
			display: table-cell;
			width: calc(100%/3);

			ul {
				margin: 0; 
				padding: 0 0 8px 0;
				list-style: none inside none;

				li {
					line-height: 32px;

					a { text-decoration: none; font-weight: 700; color: #000; }
					a:hover { transition: 100ms; }
				}
			}
		}
	}

	div.etapa {

		font-weight: 700;

		div { 
			padding: 8px 0;
		}

		div:first-child { border-top-left-radius: 2px; border-bottom-left-radius: 2px; padding-left: 8px; text-transform: uppercase; };
		div:last-child { border-top-right-radius: 2px; border-bottom-right-radius: 2px; };
	}

	div.subetapa div.titulo_linha {
		font-size: 12px;
		span { font-weight: 700; text-transform: uppercase; };
	}

	#proposicao.etapa div { 
		background-color: $proposicao; color: #FFF;
	}
	#proposicao.subetapa { 
		div.titulo_linha span { color: $proposicao; };
		ul li a:hover { color: $proposicao; }; 
	}
	#avaliacao.etapa div { 
		background-color: $avaliacao; color: #FFF;
	}
	#avaliacao.subetapa { 
		div.titulo_linha span { color: $avaliacao; };
		ul li a:hover { color: $avaliacao; }; 
	}
	#elaboracao.etapa div { 
		background-color: $elaboracao; color: #FFF;
	}
	#elaboracao.subetapa { 
		div.titulo_linha span { color: $elaboracao; };
		ul li a:hover { color: $elaboracao; }; 
	}
	#tramitacao.etapa div { 
		background-color: $tramitacao; color: #FFF;
	}
	#tramitacao.subetapa { 
		div.titulo_linha span { color: $tramitacao; };
		ul li a:hover { color: $tramitacao; }; 
	}
}*/

#sumario {
	display: table;
	div div {
		div {
			display: table-row;
			div {
				display: table-cell;
			}
		}
	}
}