$proposicao: #FFD9B2;// etapa 1, subetapas 1-3
$avaliacao: #FFC68C;// etapa 2, subetapa 4
$elaboracao: #FF9E59;// etapa 3, subetapas 3-8
$tramitacao: #FF7733;// etapa 4, subetapas 9-11
$implantacao: #FF5500;// etapa 5, subetapa 12
$nao-iniciado: #FF5500;//etapa 0
$suspenso: #BDBDBD;//etapa 6, subetapas 13-15

@import "./scss/mapa";
@import "./scss/sumario";
@import "./scss/ficha";

#app {
	// background-color: purple;
}