#ficha {

	div.menu-titulo {
		position: relative;
		z-index: 1;

		div.titulo {
			line-height: 2em;
			font-size: 2em;
			border-bottom-width: 3px;
			border-bottom-style: solid;
			background-color: transparent;
			padding: .2em 0 0 0;
			i { font-size: 36px; color: #000000; vertical-align: -0.25em; };
			&:hover { cursor: pointer; };
		};
		.proposicao { color: $proposicao; border-color: $proposicao; };
		.andamento { color: $andamento; border-color: $andamento; };
		.implantacao { color: $implantacao; border-color: $implantacao; };
		.suspenso { color: $suspenso; border-color: $suspenso; };
		.prospeccao { color: $prospeccao; border-bottom-color: $prospeccao; border-left-color: transparent !important; }
		.arquivado { color: $arquivado; border-bottom-color: $arquivado; border-left-color: transparent !important; }

		ul.menu {
			position: absolute;
			margin-top: 0;
			width: 100%;
			background-color: #FFFFFF;
			list-style-type: none;
			list-style-position: inside;
			color: #000000;
			border-bottom: 3px solid #333333;
			border-radius: 2px;
			box-shadow: 0 4px 4px rgba(0,0,0,.24);
			padding: 0;
			li {
				font-size: 1em;
				line-height: 3em;
				border-left-width: 10px;
				border-left-style: solid;
				display: flex;
				a { color: #333333; display: block; width: 100%; border-bottom: 1px solid #F0F0F0; padding-left: 8px; };
				a:hover { text-decoration: none; cursor: pointer; }
			};
			li:hover {
				background-color: #F8F8F8;
			};
		};
		.menuSlide-enter, .menuSlide-leave-to {
			font-size: 0;
			li a::after { font-size: 0; background-color: transparent; };
		};
		.menuSlide-enter-active, .menuSlide-leave-active {
			transition: all .2s;
		};

		.consultaAberta::after { 
			content: 'Em consulta';
			visibility: visible;
			font-size: 10px;
			text-transform: uppercase;
			color: #FFFFFF;
			background-color: $verde;
			padding: 4px 5px;
			border-radius: 2px;
			margin-left: 8px;
			vertical-align: middle;
		};
	}

	div.container {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		div.indicador {
			border-radius: 2px;
			font-size: 12px;
			color: #FFFFFF;
			line-height: 32px;
			text-align: center;
			text-transform: uppercase;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		};

		.proposicao { background-color: $proposicao; };
		.andamento { background-color: $andamento; }
		.implantacao { background-color: $implantacao; }
		.suspenso { background-color: $suspenso; }
		.prospeccao { color: $prospeccao !important; border: 1px solid $prospeccao; }
		.arquivado { color: $arquivado !important; border: 1px solid $arquivado; }


		h4 {
			line-height: 32px;
			margin: 0 0 12px 0;
			padding: 0;

			span {
				font-size: xx-small;
				text-transform: uppercase;
				color: #BCBCBC;
				font-weight: normal;
				float: right;

				strong {
					font-size: small;
					font-weight: bold;
					text-transform: none;
					vertical-align: -1px;
				}
			}
		}

		div.tramitacao {
			min-width: 40%;
			max-width: 40%;
			margin-left: 16px;
			
			div:nth-child(2), div:nth-child(3), div:nth-child(4) { border-top-color: $proposicao; };
			div:nth-child(5), div:nth-child(6), div:nth-child(7), div:nth-child(8) { border-top-color: $andamento; };
			div:nth-child(9) { border-top-color: $implantacao; };
		};
	};

@media (max-width: 720px ) {
	div.menu-titulo {
		.titulo {
			font-size: 20px !important;
			i { font-size: 24px !important; };
		}
	};
	div.container {
		flex-direction: column;
		flex-wrap: nowrap;
		h4 {
			font-weight: bolder;
			font-size: 120%;
			margin: 40px 0 0 0 !important;
			+ p { margin-top: 0px; }
		}
		div:not(.periodoEtapaTramit) {
			box-sizing: border-box;
			width: 100% !important;
			min-width: 100% !important;
			max-width: 100% !important;
			margin-left: 0px !important;
		}
	};
}

}