@import "./scss/variables";
@import "./scss/mapa";
@import "./scss/sumario";
@import "./scss/ficha";

#app {
	max-width: 960px;
	margin: auto;
}

@media (max-width: 960px) {
	#app {
		margin: 0 3%;
	}
}