@import "./scss/variables";
@import "./scss/mapa";
@import "./scss/sumario";
@import "./scss/ficha";

.app {
	max-width: 960px;
	margin: auto;
	#mapa, #sumario {
		opacity: 1;
		transition: 1s ease-in opacity
	}
	&--loading {
		#mapa, #sumario {
			opacity: 0;
		}
	}
}


@media (max-width: 960px) {
	.app {
		margin: 0 3%;
	}
}