$proposicao: #FFCCB3; // etapas 1-3
$andamento: #FF5500; // etapas 4-7
$implantacao: #802B00; // etapa 8
$prospeccao: #FF5500; // outline
$suspenso: #BDBDBD; // cinza
$arquivado: #BDBDBD; // outline cinza
$vermelho-gestao: #D7322F;
$verde: #008015;
